body {
        background: #000 url('/images/wet.jpg');
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center top;
}

.navbar {
    margin-bottom: 0;
    
    .navbar-brand {
    font-family: 'Orbitron', sans-serif;
        span {
            font-weight: bold;
        }
    }
}
h1, h2, h3, h4, h5, .fancy {

    font-family: 'Orbitron', sans-serif;
}

.home-container {
    background-size: cover;
    background-repeat: no-repeat;
    transform-style: preserve-3d;
    overflow: hidden;
    max-width: 100%;
    margin: 0;
}

.home-mars1 {
    margin: 0;
}

.home-redcontent {


    background: #302020;
    color: #A09898;
    border: 2px solid #606060;
    border-top-left-radius:5px;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:50px;
    border-top-right-radius:50px;
    margin:  2em 0.5em;
    padding: 2em;
    img {
        padding: 1px;
        margin: 1px;
        border: 2px solid #705050;
        max-width: 100%;   
        border-top-left-radius:5px;
        border-bottom-right-radius:5px;
        border-bottom-left-radius:30px;
        border-top-right-radius:30px;
    }
}



.home-welcome {
    padding: 0;

        text-align: right;
        background: #000 url('/images/mars-horizon.jpg');
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center top;

    h2 {
        color: #000;
        b {
            color: #000;
        }
        padding: 2em 0 2em 0;
        font-size: 1.2em;
        margin: 0;
        text-align: center;
        box-shadow: 0px 10px 15px #000;
        color: 000;
        background: #000;
        background: rgba(150,150,150,0.5);
    }
    a:hover {
        color:#fff;
    }
    .wrap {

            z-index: 10;
            min-height: 20vh;
            padding: 0px;
    }
    .content {
        font-family: 'Orbitron', sans-serif;
        
        text-align: center;
        font-weight: bold;
        color: #fff;
        padding: 20px 10px 25% 10px;
        margin: 12% 5% 0;
        display: inline-block;
        text-shadow: 1px 1px 10px #666;
        h3 {
            font-size: 5em;
            color: #ff8;
            margin: 0 0 1em 0;
            padding: 0;
            font-weight: bold;
        }
        p {
            margin: 0;
            padding: 0;
            font-size: 2em;
            margin: 10px 5px 8px 20px;
            small {
                font-weight: normal;
                color:#fff;
                a {
                    color: #fff;
                    text-decoration: none;

                }
            }
        }


    }
}

